@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
body{
    background-image: url(../public/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    background-color: rgb(100, 100, 100);
    max-width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(83, 83, 83, 0.767);
}
.container > h1{
    font-size: 40px;
    text-align: center;
    margin: 10px 10px 30px 10px;
}
#message-return{
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 3px;
    display: none;
}
.send-success{
    background-color: rgba(106, 214, 106, 0.733);
    color: rgb(6, 63, 6);
}
.send-error{
    background-color: rgb(233, 103, 103);
    color: rgb(114, 13, 13);
}
.data{
    margin: auto;
    width: 300px;
}
p{
    margin: 0px 0px 0px 10px;
    text-align: left;
    font-size: 20px;
}
input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    height: 25px;
    width: 250px;
}
input:focus{
    outline-color: rgba(255, 255, 0, 0.507);
}
button{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
    margin: 30px 30px 30px 100px;
    padding: 10px;
    width: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.589);
    color: yellow;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}
.invalid{
    border: 5px;
    border-color: red;
    color: red;
}
.invalid:focus{
    outline-color: red;
    border-color: red;
}